$text-color: #333333
$title-color: #ffffff
$footer-text: #CACACA
$input-bg: #414141
$black: #222222
$white: #ffffff
$bg-color: #ffffff
$bg-logo-color: #ffffff
$orange: #FF9900
$btn-text-color: #ffffff
$btn-hover-color: #333333
$circle-color: #ECECEC
$circle-hover-color: #D2D2D2
$hr: #CACACA
