@charset "UTF-8";
@font-face {
  font-family: "Muller Bold";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Muller Bold"), url("../src/fonts/MullerBold.woff2") format("woff2"), url("../src/fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  font-family: "Muller Medium";
  src: local("Muller Medium"), url("../src/fonts/MullerMedium.woff2") format("woff2"), url("../src/fonts/MullerMedium.woff") format("woff");
}

@font-face {
  font-family: "Muller Regular";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Muller Regular"), url("../src/fonts/MullerRegular.woff2") format("woff2"), url("../src/fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: "Muller Light";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Muller Light"), url("../src/fonts/MullerLight.woff2") format("woff2"), url("../src/fonts/MullerLight.woff") format("woff");
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  font-family: "Muller Regular", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  font-family: "Muller Regular", sans-serif;
}

strong {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1770px;
  margin: 0 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #FF9900;
}

.title {
  font-size: 48px;
  line-height: 1;
  color: #222222;
  font-family: "Muller Regular", sans-serif;
}

.active {
  color: #FF9900;
}

@media (max-width: 768px) {
  .container {
    width: 670px;
    padding: 0;
    margin: 0 50px;
  }
}

/* blokcs*/
.nav-bg {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.nav__logo {
  margin: 14px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 42px;
  margin-bottom: 36px;
}

.nav__list--item {
  -webkit-transition: border-bottom 300ms ease-in-out;
  transition: border-bottom 300ms ease-in-out;
}

.nav__list--item:not(:last-child) {
  margin-right: 85px;
}

.nav__list--item:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #FF9900;
  -webkit-transition: border-bottom 300ms ease-in-out;
  transition: border-bottom 300ms ease-in-out;
}

.nav__list--item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__search {
  width: 24px;
  height: 24px;
  margin-top: 40px;
  margin-bottom: 36px;
  background-image: url(../src/img/search.svg);
}

.nav__search:hover {
  background-image: url(../src/img/search-orange.svg);
}

/* hamburger */
.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
}

.hamburger__menu {
  display: none;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #000000;
}

.hamburger__menu::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #000000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.hamburger__menu::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #000000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.hamburger__menu.hamburger__menu-active {
  background-color: transparent;
}

.hamburger__menu.hamburger__menu-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.hamburger__menu.hamburger__menu-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

/* Media*/
@media only screen and (min-width: 1920px) {
  .hamburger {
    display: none;
  }
  .hamburger__menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav__list {
    display: none;
  }
  .nav__search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.hamburger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.headers-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../src/img/header/header-slider1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.headers__title {
  width: 50%;
  font-size: 70px;
  line-height: 1;
  margin-top: 102px;
  margin-left: 78px;
  margin-bottom: 32px;
  color: #ffffff;
  font-family: "Muller Bold", sans-serif;
}

.headers__text {
  width: 40%;
  font-size: 23px;
  line-height: 1.2;
  margin-left: 78px;
  margin-bottom: 96px;
  color: #ffffff;
}

.headers__btn {
  width: 280px;
  height: 80px;
  font-size: 22px;
  margin-left: 80px;
  margin-bottom: 90px;
  font-family: "Muller Bold", sans-serif;
}

.headers__btn:hover {
  background: rgba(255, 153, 0, 0.6);
}

/* Media*/
@media (max-width: 1024px) {
  .headers-bg {
    background: none;
  }
  .headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../src/img/1024px/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .headers__title {
    width: 80%;
    margin-top: 60px;
  }
  .headers__text {
    width: 80%;
    margin-top: 4px;
  }
  .headers__btn {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .headers-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../src/img/1024px/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .headers__title {
    width: 100%;
    font-size: 54px;
    margin: 0;
    margin-top: 200px;
  }
  .headers__text {
    width: 80%;
    font-size: 24px;
    margin: 0;
    margin-top: 18px;
  }
  .headers__btn {
    margin: 0;
    margin-top: 110px;
    margin-bottom: 114px;
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  margin-bottom: 100px;
}

.about-us__text {
  width: 63%;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 44px;
}

/* Blocks */
.about-us-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Block 1 */
.about-us-block1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 870px;
  margin-right: 30px;
  background: url(../src/img/about-us/about-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us-block1__description {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Muller Bold", sans-serif;
}

.about-us-block1__description--text {
  width: 50%;
  margin-top: 44px;
  margin-bottom: 42px;
  margin-left: 52px;
  font-size: 16px;
  line-height: 2;
  color: #ffffff;
}

.about-us-block1__description--btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 175px;
  height: 60px;
  margin-left: 76px;
  color: #ffffff;
  border: 3px solid #FF9900;
  background-image: linear-gradient(45deg, #FF9900 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  font-family: "Muller Bold", sans-serif;
}

.about-us-block1__description--btn:hover {
  background-position: 0;
}

/* Block 2*/
.about-us-block2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-us-block2__assets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 296px;
  padding: 50px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  margin-bottom: 10px;
  padding-top: 67px;
  padding-bottom: 72px;
}

.about-us-block2__assets--item {
  width: 178px;
  height: 136px;
}

.about-us-block2__assets--text {
  width: 452px;
  font-size: 18px;
  line-height: 1.4;
  margin-left: 58px;
}

.about-us-block2__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 296px;
  padding: 50px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  padding-top: 67px;
  padding-bottom: 66px;
}

.about-us-block2__quality--item {
  width: 178px;
  height: 136px;
}

.about-us-block2__quality--text {
  width: 452px;
  font-size: 18px;
  line-height: 1.4;
  margin-left: 58px;
}

@media (max-width: 1024px) {
  .about-us__text {
    width: 91%;
    height: 100%;
    margin-bottom: 47px;
  }
  .about-us-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us-block1 {
    position: absolute;
    margin-top: 200px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .about-us-block1__description {
    width: 100%;
    height: 170px;
  }
  .about-us-block2 {
    margin-top: 40px;
  }
  .about-us-block2__assets {
    margin-bottom: 20px;
  }
}

.how-working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  margin-bottom: 140px;
}

.how-working__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  font-size: 18px;
  line-height: 1;
}

.how-working__text {
  margin-right: 84px;
}

/* Blocks */
.how-working-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

/* Block 1 */
.how-working-block1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.how-working-block1__consultation {
  width: 80%;
  font-size: 18px;
  line-height: 1.8;
}

.how-working-block1__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.how-working-block1__link--detailed {
  width: 175px;
  height: 65px;
  margin-right: 30px;
}

.how-working-block1__link--contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 148px;
  height: 65px;
  border: 1px solid #222222;
}

/* Block 2 */
.how-working-block2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 30px;
  background: url(../src/img/work/work-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 1024px) {
  .how-working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-working-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .how-working-block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-working-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .how-working__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .how-working-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .how-working-block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 38px;
  }
  .how-working-block1__consultation {
    width: 100%;
  }
  .how-working-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: 100vh;
    padding: 100px;
    background: url(../src/img/work/work-bg.jpg);
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 60px;
}

.questions__title {
  margin-top: 55px;
  padding-bottom: 44px;
  border-bottom: 1px solid #CACACA;
}

/* accordion */
.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}

.accordion__list {
  width: 100%;
}

.accordion__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 32px 0;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 1px solid #CACACA;
  font-family: "Muller Bold", sans-serif;
}

.accordion__list--item p {
  width: 80%;
}

.item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* act */
.accordion-act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: #ECECEC;
  border-radius: 50%;
}

.accordion-act__plus {
  width: 30px;
  height: 30px;
}

.accordion-act__search {
  display: none;
  width: 30px;
  height: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #222222;
  color: #CACACA;
  padding-bottom: 50px;
  /* nav */
  /* application */
  /* text */
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}

.footer__nav--logo img {
  width: 224px;
  height: 72px;
}

.footer__nav--list {
  line-height: 2;
  margin-top: 18px;
}

.footer__nav--social a:not(last-child) {
  margin-right: 24px;
}

.footer__nav--social :hover {
  -webkit-filter: drop-shadow(0 0 6px #fcfcfc);
          filter: drop-shadow(0 0 6px #fcfcfc);
}

.footer__nav--social {
  margin-top: auto;
}

.footer__nav--social a img {
  width: 60px;
  height: 60px;
}

.footer__application {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 56px;
  padding: 0;
}

.footer__application--title {
  color: #CACACA;
  margin-bottom: 30px;
}

.footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 126px;
}

.footer__text p {
  width: 50%;
  line-height: 2;
  margin-left: auto;
}

.footer__link {
  color: #CACACA;
}

/* form / форма */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  height: 60px;
  margin-bottom: 25px;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
  background: #414141;
}

input [type="text"],
input [type="checkbox"] {
  color: #CACACA;
}

textarea {
  height: 150px;
  resize: none;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
  background: #414141;
}

.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.send__btn {
  width: 268px;
  height: 60px;
  color: #ffffff;
  background: #FF9900;
}

.send__checkbox {
  margin-right: 4px;
  margin-left: 22px;
}

@media (max-width: 1024px) {
  .footer__nav {
    margin-left: 0;
  }
  .footer__text {
    display: none;
  }
  .send p {
    width: 76%;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__nav--list {
    display: none;
  }
  .footer__nav--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
  }
  .footer__nav--social a {
    display: block;
    width: 60px;
    height: 60px;
  }
  .footer__application {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__text {
    display: none;
  }
}
