.headers
  display: flex
  flex-direction: column
  background: url(../src/img/header/header-slider1.jpg)
  background-repeat: no-repeat
  background-position: center

  &__title
    width: 50%
    font-size: 70px
    line-height: 1
    margin-top: 102px
    margin-left: 78px
    margin-bottom: 32px
    color: $title-color
    +bold
  &__text
    width: 40%
    font-size: 23px
    line-height: 1.2
    margin-left: 78px
    margin-bottom: 96px
    color: $title-color
  &__btn
    width: 280px
    height: 80px
    font-size: 22px
    margin-left: 80px
    margin-bottom: 90px
    +bold
  &__btn:hover
    background: rgba(255, 153, 0, 0.6)
